/*.Space > .bz-default {
  visibility: hidden;
}*/

#box > div {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  border: solid 0.1em #777;
  background: linear-gradient(to left, var(--player0-color), #8888 20%, #8888 80%, var(--player1-color));
}

#box .Piece {
  visibility: hidden;
}

#chessboard.square .bz-default {
  visibility: hidden;
}

.Piece .bz-default {
  font-size: .5rem;
  background-color: var(--player-color);
}

.Piece.agent .bz-default {
  font-weight: 900;
  color: var(--agent-color);
}

/*
proof of concept: yes, color-mix can take another color-mix.
#box .Piece.Knight .bz-default {
  border: 1em solid color-mix(in srgb, #00c6 25%, color-mix(in srgb, #c006, #0c06) 50%);
}
*/
[data-name=square] > .bz-default {
  visibility: hidden;
}

[data-name=square][data-gridparity=even] {
  background-color: #79838997;
  visibility: visible;
}

[data-name=square][data-gridparity=odd] {
  background-color: #c3c1a799;
  visibility: visible;
}

.Square > .ColorMule {
  background-color: color-mix(in xyz, var(--zone-color, #8888) 20%, #eee0 80%);
  border-top:    .2em solid var(--zone-top, none);
  border-bottom: .2em solid var(--zone-bottom, none);
  border-left:   .2em solid var(--zone-left, none);
  border-right:  .2em solid var(--zone-right, none);
  border-radius: .2em;
  height: 100%;
}

.Piece .ColorMule {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  color: var(--player-color, 
          var(--agent-color, 
            color-mix(in xyz, var(--zone-color, #333), #333)
          )
        );
  text-shadow:  /* 0.01em 0.01em 0.02em #eeed, */
                -.01em -.01em 0.03em #ddde, 
                0.01em 0.01em 0.04em #111e,
                0.02em 0.02em 0.08em #333e;
  background: radial-gradient(#eee5, #eee0);
}

.Piece[data-rank=low] .ColorMule {
  font-weight: 1000;
}

.selected {
  box-shadow: 0em 0em 1em inset var(--player-color, #fff);
}

.info-hotspot {
  border: .1em solid #ffee52;
  box-shadow: 0.1em 0.1em .5em inset #ffee52,
              -.1em -.1em .5em inset #ffee52,
              0 0 1em #ffee52;
}

.info-text h1 {
  display: none;
}

.info-text div {
  font-size: 65%;
  margin: 1em;
}
